@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#272342;
  background-color: #262626;
}

button,
button:active{
  background-color: #272342;
  color:#DBAF00;
  border-radius: 5px;
  height:30px;

}

button:hover{
  background-color:#3F386B;
}

button:disabled
{
  background-color:#CDCAE3;
  color:#272342;
  cursor:no-drop;
}

input {
  border:none;
  border-bottom: 1px solid #272342;
}
